/*---------------------------------------Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    width: 1200px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ECECEC
}


/*----------------------------------------Títulos,párrafos*/


/*------------------------------------------Encabezado*/

.web {
    height: 31px;
    width: 145px;
    left: 215px;
    top: 24px;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196f3;
    margin-left: -60px
}

nav {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    width: 600px;
    left: 0px;
    top: 80px;
}

.estudio {
    height: 16px;
    width: 49px;
    left: 453px;
    top: 32px;
    font-weight: 500;
    font-size: 18px;
    margin-right: 50px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 37.5px;
}

.estudio:hover {
    color: #2196f3;
}

.portafolio:hover {
    color: #2196f3;
}

.contactos:hover {
    color: #2196f3;
}

.icono-correo {
    height: 12px;
    width: 16px;
    left: 1052px;
    top: 34px;
    border-radius: 0px;
    background: #2196F3;
    margin-left: 270px;
    margin-right: 5px;
}

.icon-movil {
    height: 16px;
    width: 10px;
    left: 1243px;
    top: 32px;
    border-radius: 0px;
    background: #757575;
    margin-left: 25px;
    margin-right: 5px;
}

.correo:hover {
    color: #2196f3;
}

.tel:hover {
    color: #2196f3;
}

.portafolio {
    height: 16px;
    width: 65px;
    left: 552px;
    top: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 46.5px;
}

.contactos {
    height: 16px;
    width: 67px;
    left: 667px;
    top: 32px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 32px;
    margin-bottom: 32px;
}

.correo {
    height: 16px;
    width: 135px;
    left: 1078px;
    top: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.tel {
    height: 16px;
    width: 118px;
    left: 1263px;
    top: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}


/*----------------------------------Secciones*/

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 128px;
    left: 576px;
    top: 186px;
    border-radius: 4px;
    border: none;
    background: #f5f4fa;
}

.primerBoton {
    width: 73px;
    height: 38px;
    background-color: #2196f3;
    color: white;
}

.primerBoton:hover {
    text-decoration: underline;
}

.cont1 {
    height: 600px;
    left: -4px;
    top: 80px;
    border-radius: 0px;
    background-image: url(/images/Imagenfondo.jpeg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 94px;
    text-align: center;
}

.titppal {
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
}

.botppal {
    height: 50px;
    width: 300px;
    left: 666px;
    top: 430px;
    border-radius: 4px;
    padding: 10px 32px 10px 32px;
    background-color: #2196f3;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
}


/*-----------------------Valor agregado*/

.valores {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.caja-icon {
    height: 120px;
    width: 270px;
    left: 206px;
    top: 769px;
    border-radius: 4px;
    background: #F5F4FA;
}

.cont2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    margin-bottom: 99px;
}

.subt {
    height: 16px;
    width: 270px;
    left: 206px;
    top: 919px;
    border-radius: nullpx;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #212121;
}

.parrf {
    height: 75px;
    width: 270px;
    left: 815px;
    top: 801px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.images1 {
    margin-bottom: 94px;
    text-align: center;
}

.margen1 {
    margin-right: 20px;
}


/*--------------------Listado del personal*/

.cont3 {
    height: 648px;
    width: 1200px;
    left: 0px;
    top: 1510px;
    border-radius: 0px;
    background: #f5f4fa;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.personas {
    height: 708px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.tit2 {
    height: 46px;
    width: auto;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
}

.tit3 {
    height: 42px;
    width: auto;
    left: 669px;
    top: 1604px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    padding-top: 94px;
    padding-bottom: 50px;
}

.tarjeta {
    height: 428px;
    width: 270px;
    left: 208px;
    top: 1696px;
    border-radius: 2%;
    background: #ffffff;
}

img {
    height: 260px;
    width: 270px;
    left: 215px;
    top: 1785px;
    border-radius: 0px;
}

.tarjeta:hover {
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001f;
}

.fila-icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: -50px;
}

.icon {
    height: 44px;
    width: 44px;
    left: 0px;
    top: 0px;
    border-radius: 100px;
    align-content: center;
    margin-right: 10px;
    fill: #AFB1B8;
}

.icon:hover {
    background-color: #2196f3;
    fill: white
}


/*--------------------segunda página-Verticales de Negocio*/

.botones {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 200px;
    top: 186px;
    left: 495px;
}

.primerboton {
    height: 38px;
    width: 73px;
    left: 495px;
    top: 186px;
    border-radius: 4px;
    margin-right: 8px;
    margin-top: 186px;
    background: #2196f3;
}

.sitiosweb {
    height: 38px;
    width: 128px;
    left: 576px;
    top: 186px;
    border-radius: 4px;
    margin-right: 8px;
    margin-top: 186px;
    background: #F5F4FA;
}

.aplicaciones {
    height: 38px;
    width: 145px;
    left: 712px;
    top: 186px;
    border-radius: 4px;
    margin-right: 8px;
    margin-top: 186px;
    background: #F5F4FA;
}

.diseño {
    height: 38px;
    width: 103px;
    left: 865px;
    top: 186px;
    border-radius: 4px;
    margin-right: 8px;
    margin-top: 186px;
    background: #F5F4FA;
}

.marketing {
    height: 38px;
    width: 130px;
    left: 976px;
    top: 186px;
    border-radius: 4px;
    margin-top: 186px;
    background: #F5F4FA;
}

.textbuton1 {
    height: 26px;
    width: 38px;
    left: 512px;
    top: 192px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.textbuton2 {
    height: 26px;
    width: 128px;
    left: 600px;
    top: 192px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #212121;
}

.textbuton3 {
    height: 26px;
    width: 98px;
    left: 735px;
    top: 192px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #212121;
}

.textbuton4 {
    height: 26px;
    width: 52px;
    left: 890px;
    top: 192px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #212121;
}

.textbuton5 {
    height: 26px;
    width: 52px;
    left: 890px;
    top: 192px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #212121;
}

.filatarjetas1 {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.filatarjetas2 {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 30px;
}

.filatarjetas3 {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 82px;
}

.tarjeta2 {
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    left: calc(50% - 370px/2 - 400px);
    top: calc(50% - 404px/2 - 464px);
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin-right: 30px;
}

.tarjeta2:hover {
    box-shadow: 1px 4px 6px 0px #00000029;
    box-shadow: 0px 4px 4px 0px #0000000f;
    box-shadow: 0px 1px 1px 0px #0000001f;
}

button:hover {
    border-style: solid;
    border-color: purple;
    cursor: pointer;
}


/*--------------------------------------- Sección Clientes */

.clientes {
    height: 372px;
    left: 0px;
    top: 1599px;
    border-radius: 0px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 59px;
    margin-bottom: 44px
}

.tit4 {
    height: 37px;
    width: 323px;
    left: 640px;
    top: 2366px;
    border-radius: nullpx;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
}

.iconos-clientes {
    display: flex;
    justify-content: space-evenly;
    margin-right: 30px;
    margin-bottom: 151px;
}

.icon-client {
    height: 81px;
    width: 170px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    margin-right: 30px;
    fill: #AFB1B8;
}

.icon-client:hover {
    fill: #2196F3;
    border: solid 1px #2196F3
}


/* ------------------------------Pie de página */

footer {
    height: 252px;
    width: 100%;
    left: 0px;
    top: 1628px;
    border-radius: 0px;
    background-color: #2f303a;
}

.web-final {
    height: 31px;
    width: 145px;
    left: 215px;
    top: 2739px;
    border-radius: nullpx;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2196F3;
    padding-top: 60px;
    margin-left: 215px;
}

address {
    display: flex;
    flex-direction: row;
}

.encuentrenos {
    height: 16px;
    width: 135px;
    left: 516px;
    top: 1703px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    margin-left: 156px;
    margin-top: -12px;
    color: white;
}

.direccion {
    margin-left: 176px;
}

ul {
    list-style: none;
    margin-left: 170px;
}

.lugar {
    color: white;
}

.info {
    color: #ffffff99;
}

.fila-icons-piepagina {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 156px;
}

.icon-p {
    height: 44px;
    width: 44px;
    left: 0px;
    top: 0px;
    border-radius: 100px;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    fill: white;
    margin-right: 10px;
}

.icon-p:hover {
    background-color: #2196F3;
}